<h1><%= @user.name %></h1>

<% if @user.topics.any? %>
  <h4>Here are the topics for this user:</h4>

  <% @user.topics.each do |topic| %>
    <ul>
      <li>
        <%= link_to topic.question, user_topic_path(@user, topic) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No topics are listed for this user.</p>
<% end %>

<p><%= link_to "Add a topic", new_user_topic_path(@user) %></p>

<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Delete", user_path(@user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to users", users_path %></p>
